@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&family=Oswald:wght@400&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&family=Pacifico&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header *{
    position:sticky;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 0 5px black;
    height: auto;
    padding: 1%;
    text-decoration:none;
    font-family: 'EB Garamond', serif;
font-family: 'Pacifico', cursive;
font-size: larger;
position: sticky;

}

a:link { 
    text-decoration: none; 
/* 
    color: #daccee; */
  } 
.sec1{
    display: flex;
    width: 100%;
    height: fit-content;
    
}
.sec2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-items: center;
margin: 4%;
gap: 5px;

}
.sec2 *{
    border-radius: 3cqb;
    padding: 2%;
    font-family: 'EB Garamond', serif;
font-family: 'Pacifico', cursive;
font-family: 'Protest Strike', sans-serif;
font-size: larger;
}
.img1{
    /* width: 100%;
     height: 40%; */
    display: flex;
    justify-content: start;
    
}

.levelup{
    width: 100%;
    height: 10rem;
    background-color: #faf6e9;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}

.essentials{
    background-color: #f1e9e3;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.first , .second{
    font-family: 'Oswald', sans-serif;
    color: #14131398;
    margin: 1%;
    padding: 1%;
    border: #f1e9e3 1px solid;
}

.first:not(card){
    background-color: #f1e9e3;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
}
.card {
    width: 16rem;
    /* height: 33rem; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
    margin: 1%;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}
.card  img{
    align-items: center;
    width: auto;
    height: auto;
}
.card *{
    font-family: 'Oswald', sans-serif;
color: black;
text-align: center;
font-family: 'Poppins', sans-serif;
color: rgb(63, 21, 83);
}
.price{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: 900;
    color: rgb(77, 28, 102);
}
.wp1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
}
.Waterbottles {
    font-family: 'Oswald', sans-serif;
    color: #14131398;
    margin: 1%;
    padding: 1%;

}
button{
    padding: 2%;
}
.card1 img{
    box-sizing: content-box;
    width: 80%;
    height: auto;
}
.second{
    background-color: #dfdfdf;
    margin: 0;
}

.sbody:not(header){
    width: 100%;
min-height: 100vh;
border-image:url(./img/bc.png);
block-size: cover;
background-image: url("https://img.freepik.com/premium-vector/3d-rendered-abstract-colorful-splash-background_876236-1238.jpg?w=740");
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100vh;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    


}
.smain{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.form1{
    width: 20rem;
   /* height: 20rem; */
   background-color: transparent;
   border: 2px solid rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
   color: #fff;
   border-radius: 10px;
   padding: 30px 40px;
}

.form1 .box{
    width: 100%;
    height: 50px;
    margin: 30px 0 ;

}
.box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.box input::placeholder{
    color: #fff;
}

form > h1{
    font-family: 'Oswald', sans-serif;
}
.checkbox{
font-family: 'Poppins', sans-serif;
    
}

.Remember{
display: flex;
justify-content: space-between;
font-size: 14.5px;
margin: -15px 0 15px;
}

.Remember label input{ 
    accent-color: #fff;
    margin-right: 3px;

}
.Remember a{
    color: #fff;
    text-decoration: none;

}

.Remember a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}

.register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register p{
    display: inline-block;
}
.register  a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}

.register a:hover{
    text-decoration: underline;

}



.art{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 10%;
    padding: 2%;
    width: fit-content;
    height: fit-content;
    
}
.uio{
    background-color: #dfdfdf7a;
}
.ame{
    font-family: 'Oswald', sans-serif;
    justify-content: end;
    margin: 1%;
    padding: 3%;
    background-color: #ffffff8a;
    border-radius: 45px;

}
.mepic img{
    width: 10wh;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);  
    border-radius: 10%;
    justify-content: start;
    }

    .mepic img:hover{
        transform: scale(1.1) translatex(-30px);
    }

    .team{
        text-align: center;
    font-family: 'Oswald', sans-serif;
font-weight: 900;
font-size: xx-large;
    }

    .leo img{
        width: 100%;
        height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);  
    border-radius: 10%;
    justify-content: start;
    }
    .leo img:hover{
        transform: rotate(360deg);
        /* transform-origin: left top; */
        transition-duration: 2s;
    }